ASFI_DB_ENGINE=sqlite
ASFI_SQLITE_PATH=./data/asfi_central_demo.sqlite3
ASFI_MYSQL_HOST=localhost
ASFI_MYSQL_PORT=3306
ASFI_MYSQL_USER=root
ASFI_MYSQL_PASSWORD=root
ASFI_MYSQL_DATABASE=ASFI_Central
ASFI_RATE_MODE=OFICIAL
ASFI_RATE_INTERVAL_SECONDS=180
ASFI_RATE_OFFICIAL_BASE=6.9600
ASFI_RATE_REFERENTIAL_BASE=6.8600
ASFI_NONCE_TTL_SECONDS=300
ASFI_BANK_TIMEOUT_SECONDS=20
ASFI_PROCESSING_WORKERS=8
ASFI_ENCRYPT_LARGE_AMOUNT_THRESHOLD=100000.0000
